<% layout('layout/page') -%>
    <% block('title', 'Микроблог'); %>

<div class="container">

    <div class="row" style="margin-top:20px">
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">


</div>
    </div>
</div>
