<% layout('layout/page') -%>
<% block('title', 'Профиль'); %>

<div class="container">
<%-partial('./partials/ProfileCard')%>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
    <%-partial('./partials/NewPost')%>
    <hr>
    <%-partial('./partials/post')%>
</div>
</div>